extends ../layout.jade

block content

  h1 Login
  include ../partials/_error-message


  form(action="/login" method = "post")
    include ../partials/_login-form.jade

  a(href="/signup") Don't have an account? Create one here
