extends ../layout.jade

block content
  h1 Welcome to our awesome website
  p
    if(message)
      =message
  p
    a(href="/users/signup" class = "btn btn-primary btn-lg") Sign up
  p
    a(href="/users/login" class ="btn btn-primary btn-lg") Log in
