p
  label(for="user") Username
  input(type="text" name="user[username]" id="user" autofocus  value =username)

p
  label(for="pass") Password
  input(type="password" name="user[password]" id="pass")

p
  label(for="age") Age
  input(type="integer" name="user[age]" id="age")

p
  label(for="gender") Gender
  input(type="text" name="user[gender]" id="gender")

p
  label(for="pref") Gender Preference
  input(type="text" name="user[gender_preference]" id="pref")

p
  label(for="religion") religion
  input(type="text" name="user[religion]" id="religion")

p
  input(type="submit" value= val || "Sign Up" class ="btn btn-primary")