extends ../layout.jade

block content
  include ../partials/_error-message
  h1 Hi! #{currentUser.username} - change your preferences here!
  form(action="/users/#{user.id}?_method=PATCH" method="POST")
    include ../partials/_user-form