extends ../layout

block content
  h1 Browse Users
  table.table.table-hover
    thead
      th Name
      th Like
    tbody
      each user in users
        tr
          td 
            a(href="/users/#{user.id}") #{user.username}
          td
            form(action="/users/#{user.id}" method="POST")
              input(type="submit" value="Like" class="btn btn-success")
    tfoot